{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
    <table class="table">
        <thead>
            <tr>
                <th class="text-start">Symbol</th>
                <th class="text-end">Shares</th>
                <th class="text-end">Price</th>
                <th class="text-end">Transacted</th>
            </tr>
        </thead>
        <tbody>
            {% for port in portfolio %}
                <tr>
                    <td class="text-start">{{ port["symbol"] }}</td>
                    <td class="text-end">{{ port["shares"] }}</td>
                    <td class="text-end">{{ port["price"] | usd }}</td>
                    <td class="text-end">{{ port["time"] }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}