{% extends "layout.html" %}

{% block title %}
    Portfolio
{% endblock %}

{% block main %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th class="text-start">Symbol</th>
                <th class="text-start">Name</th>
                <th class="text-end">Shares</th>
                <th class="text-end">Price</th>
                <th class="text-end">TOTAL</th>
            </tr>
        </thead>
        <tbody>
            {% for port in portfolio %}
                {% if port['SUM("shares")'] > 0 %}
                    <tr>
                        <td class="text-start">{{ port["symbol"] }}</td>
                        <td class="text-start">{{ port["name"] }}</td>
                        <td class="text-end">{{ port['SUM("shares")'] }}</td>
                        <td class="text-end">{{ price[port["symbol"]] | usd }}</td>
                        <td class="text-end">{{ total_price[port["symbol"]] | usd }}</td>
                    </tr>
                {% endif %}
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td class="border-0 fw-bold text-end" colspan="4">Cash</td>
                <td class="border-0 text-end">{{ cash | usd }}</td>
            </tr>
            <tr>
                <td class="border-0 fw-bold text-end" colspan="4">TOTAL</td>
                <td class="border-0 w-bold text-end">{{ total | usd }}</td>
            </tr>
        </tfoot>
    </table>
{% endblock %}